

.carousel {
  min-height: 27em;
  padding-top: 2em;

  &-item {
    text-align: center;
    margin: 1em;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &-title {
    padding-left: 1em;
  }
}

.slick-arrow:before, .slick-arrow:after {
  color: gray;
}

.slick-slide {
  outline: none;
}



// flexbox overrides for slick- carousel
// * {
//   min-height: 0;
//   min-width: 0;
// }

