

.carousel {
  min-height: 27em;
  padding-top: 2em;

  &-item {
    text-align: center;
    margin: 1em;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &-title {
    padding-left: 1em;
  }
}

.slick-arrow:before, .slick-arrow:after {
  color: gray;
}

.slick-slide {
  outline: none;
}

.restrict-width {
  max-width: 400px;
}

.restrict-height {
  @media only screen and (min-width: 769px) {
    max-height: 600px;
  }
}

.grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-cell {
  flex: 1;
  flex-grow: 1;
  width: 13em;
}
