<%#raise @current_user.inspect %>


<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="http://bulma.io/images/bulma-logo-white.png" alt="LuminusHD: The ultimate in HighRes Audio" width="112" height="28">
    </a>

    <a class="navbar-item is-hidden-desktop" href="/" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-lg fa-github"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navMenuTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link " href="/">
          Albums
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item " href="/new-releases">
            New Releases
          </a>
          <a class="navbar-item " href="/featured-releases">
            Featured Releases
          </a>
          <a class="navbar-item " href="/acclaimed-releases">
            Acclaimed Releases
          </a>
        </div>
      </div>

    </div>



    <div class="navbar-end">
      <a class="navbar-item is-hidden-desktop-only" href="https://github.com/jgthms/bulma" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-lg fa-github"></i>
        </span>
      </a>

      <div class="navbar-item">
        <div class="field is-grouped">


          <% unless @current_user %>
            <p class="control">
              <a id="register" class="button is-primary" href="/sign-up">
                <span class="icon">
                  <i class="fa fa-sign-in"></i>
                </span>
                <span>Create Account</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="/sign-in">
                <span class="icon">
                  <i class="fa fa-sign-in"></i>
                </span>
                <span>Sign In</span>
              </a>
            </p>

          <% else %>
            <p class="control">
              <a class="bd-tw-button button"
                data-social-network="Twitter"
                data-social-action="tweet"
                data-social-target="http://bulma.io"
                href="/">
                <span class="icon">
                  <i class="fa fa-twitter"></i>
                </span>
                <span>
                  Tweet
                </span>
              </a>
            </p>
            <p class="control">
              <a id="sign-out" class="button is-primary" href="/sign-in">
                <span class="icon">
                  <i class="fa fa-sign-in"></i>
                </span>
                <span>Sign Out</span>
              </a>
            </p>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</nav>
