<%= javascript_pack_tag 'application' %>

<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <span class="home-hero-thin">Luminus</span><span class="home-hero-enhanced">HD</span>
      </h1>
      <h2 class="subtitle">
        The standard in High Res Audio
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">New Releases</h1>

    <div class="new-release-carousel">
      <% @new_releases.each do |album| %>

        <div>
          <%= album.title %>
        </div>

      <% end %>
    </div>
  </div>
</section>
