.carousel {
  padding-top: 2em;

  &-item {
    text-align: center;
    margin: 1em;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &-title {
    padding-left: 1em;
  }
}

.slick-arrow:before, .slick-arrow:after {
  color: gray;
}

.slick-slide {
  outline: none;
  min-height: 0px;
  min-width: 0px;
  height: 325px;
  width: 228px;
}



// flexbox overrides for slick- carousel

* {
  min-height: 0;
  min-width: 0;
}

